.Check {
  width: 194px;
  height: 194px;
}

.legendaCompra {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  margin-left: 0px;
  text-align: center;
}

.button11 {
  width: 194px;
  height: 44px;
  border-radius: 4px;
  color: black;
  border: 2px solid #df9f00;
  background-color: #df9f00;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.button11:hover {
  color: #df9f00;
  background-color: transparent;
  border: 3px solid #df9f00;
}

.containerConf {
  width: 941px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 125px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
