.tentativa
{
    display: none;
}

.linkk{
    text-decoration: none;
}

@media (min-width: 412px) and (max-width: 768px) {
    .tentativa
{
    display: block;
}

.linkk{
    text-decoration: none;}
}