.NavInitial {
  width: 941px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavInitial>svg {
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* .NavInitial div {
  margin-right: 105px;
} */

/* .NavInitial > svg:nth-child(1) {
  margin-right: 100px;
  margin-left: 0px;
}

.NavInitial div:nth-child(4) {
  margin-right: 0px;
  margin-left: 2%;
} */

.logo {
  width: 91px;
  height: 65px;
}

form {
  width: 269px;
}

.search-box {
  position: relative;
  height: 34px;
}

input {
  border: 0;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
}

.search-box .input-group-btn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

.search-box .input-group-btn button {
  background-color: transparent;
  padding: 0px 9px;
  font-size: 22px;
  border: 0;
}

.avatar {
  width: 60px;
  height: 60px;
}

.link {
  display: flex;
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-family: Ubuntu;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #ffb703;
}

nav svg:hover {
  color: #ffb703;
}

a:active {
  color: #fff;
}

.navbar {
  background-color: #ffb703;
  height: 40px;
  width: 100%;
  padding: 0px;
  justify-content: center;
}

.links {
  text-decoration: none;
  width: 187.2px;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
  font-family: Ubuntu;
  align-items: center;
  gap: 8px;
}

.links:visited {
  color: #002973;
}

.links:hover {
  color: #fff;
}

.links:link {
  color: rgb(240, 0, 0);
}

.DivFunc {
  width: 941px;
  height: 40px;
}

.busque {
  width: 296px;
}

.link2 {
  font-size: 24px;
}

.link3 {
  font-size: 24px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.ContainerNav {
  display: flex;
  justify-content: center;
  height: 93px;
  width: 100%;
  background-color: #002973;
}

.linkheart
{
  display: none;
}

@media (min-width: 412px) and (max-width: 768px) 
{

  .busque{
    display: none;
  }
  .linkheart
  {
    display: block;
  }
  
  .upa {
    display: none;
  }

  .form-inline {
    margin-left: -20px;
  }

  .logo {
    margin-left: 20px;
  }

  .NavInitial {
    width: 941px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    margin-left: -100px;
    float: left;
    cursor: pointer;
  }

  .link {
    display: none;
  }

  .link2 {
    margin-left: -70px;
    margin-top: -10px;
  }

  .navbar {
   display: none;
  }

  .links {
    width: 95px;
    font-size: 14px;
  }

  .DivFunc {
    width: 570px;
  }
}
