.containerPagamento {
  width: 941px;
  height: auto;
  margin: auto;
  display: flex;
  margin-top: 125px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.containerPagamento button{
  transition: ease-in-out .1s;
}

.botaoPagamento {
  border-radius: 4px;
  width: 100%;
  padding: 7px 13px 7px 13px;
  border: 3px solid #df9f00;
  background-color: transparent;
  text-align: left;
  color: #df9f00;
  font-size: 20px; 
  display: flex;
  align-items: center;
  gap: 8px;
}

.botaoPagamento:hover {
  color: black;
  background-color: #df9f00;
}

.descricaoPagamento {
  width: 59%;
  text-align: left;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  height: auto;
}

.DivButtons {
  display: flex;
  flex-direction: column;
  width: 39%;
}

.totalPag {
  width: 358px;
  height: 98px;
  padding: 20px, 100px, 20px, 100px;
  background-color: #e5fff1;
  font-size: inter;
  font-size: 20px;
  font-weight: bold;
  color: #1f9050;
  text-align: center;
  padding: 20px;
}

.botaoVoltar {
  width: 154px;
  height: 60px;
  border-radius: 4px;
  color: #df9f00;
  border: 2px solid #df9f00;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
}

.botaoComprar {
  width: auto;
  height: 60px;
  border-radius: 4px;
  color: black;
  border: 2px solid #df9f00;
  background-color: #df9f00;
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.botaoVoltar:hover {
  color: black;
  background-color: #df9f00;
}

.botaoComprar:hover {
  color: #df9f00;
  background-color: transparent;
}

.controlePagamento{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}