.DivEnd {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 14px;
  padding: 20px;
}

.divend {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  color: black;
}

.tituloCar {
  display: flex;
  font-size: 32px;
  font-weight: 300;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tituloCar > h2 {
  margin-bottom: 0px;
}

.icone {
  color: #df9f00;
  width: 30px;
  height: 30px;
}

.icone > svg > path {
  color: #df9f00;
  width: 100%;
  height: 100%;
}

.conteudo {
  font-weight: 700;
  padding-left: 5px;
}
.conteudo:nth-child(3n) {
  margin-bottom: 22px;
}

.conteudo > input{
  margin-right: 10px;
  font-size: 25px;
}

.conteudo label{
  font-size: 25px;
}

.conteudo > p {
  margin-bottom: 10px;
  font-size: 25px;
}

.DivProd {
  width: 100%;
  height: auto;
  border-radius: 14px;
  background-color: white;
  padding: 20px;
}

.DivProd--conteudo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 30px;
}

.imgProd {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.descricaoJogo {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
}

.descricaoJogo > p {
  font-size: 25px;
  font-weight: 700;
  color: black;
}

.quantidadeCar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantidadeCar--controles{
    display: flex;
    align-items: center;
}

.quantidadeCar--controles > span {
  font-size: 25px;
}

.controleSoma {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.controleSoma:hover {
  color: #df9f00
}

.controleMenos {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.controleMenos:hover {
  cursor: pointer;
  color: #df9f00
}

.removeItem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.removeItem > svg > path {
  color: red;
}

.quantidadeCar > span {
  font-size: 25px;
}

.preco > p {
  font-size: 25px;
}

.Quant {
  font-size: 23px;
  font-weight: 400;
}

.preco {
  font-size: 23px;
  font-weight: 400;
}

.icone2 {
  float: left;
  color: #ff0909;
  padding: 0;
}

.DivProd1 {
  margin-top: 250px;
}

.DivFinal {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.total {
  font-size: 30px;
  font-weight: 700;
  padding: 15px;
}

.button04 {
  border: 2px solid #df9f00;
  width: 311.5px;
  height: 86px;
  background-color: #df9f00;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  transition: ease-in-out .1s;
}

.button05 {
  border: 3px solid #df9f00;
  width: 311.5px;
  height: 86px;
  background-color: transparent;
  color: #df9f00;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  transition: ease-in-out .1s;
}

.button05:hover {
  color: black;
  background-color: #df9f00;
}

.button04:hover {
  filter: contrast(1.75);
}

.containerFullCar {
  width: 941px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 412px) and (max-width: 768px) {
    .DivEnd {
        width: 336px;
        height: 220.41px;
        margin-left: 38px;
    }

    .divend {
        font-size: 15px;
    }

    .titulo01 {
        font-size: 22px;
    }

    .DivProd {
        width: 336px;
        height: 575px;
        margin-left: 38px;

    }

    .imgProd {
        width: 100px;
        height: 120px;
        margin-left: 10px;
    }

    .Legenda01 {
        font-size: 15px;
        margin-left: 127px;
        margin-top: -30px;
    }

    .Quant {
        font-size: 16px;
        margin-top: -10px;
        margin-left: 130px;
        width: 50px;
    }

    .button01 {

        margin-left: 10px;
    }

    .button02 {

        margin-left: -8px;
    }

    .button03 {
        margin-top: -160px;
        margin-left: 155px;
        width: 100px;
    }

    .preco {
        font-size: 15px;
        margin-top: -103px;
        margin-left: 235px;
        width: 20px;
    }

    .DivFinal {
        width: 336px;
        height: 126px;
        margin-left: 38px;
    }

    .total {
        font-size: 20px;  
        padding: 15px;
        margin-top: 20px;
    }


    .button04 {
        width: 97.5px;
        height: 26px;
        margin-top: 25px;
        margin-left: 20px;
        border-radius: 5px;
        font-size: 10px;
    }

    .button05 {
        width: 95.5px;
        height: 46px;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 20px;
    }
}