.containerFull {
  width: 941px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 125px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-form {
  width: 402px;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-form-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.wrap-input {
  width: 100%;
  margin-top: 20px;
}

.legenda {
  color: black;
  margin-bottom: 8px;
}

.form-control {
  font-size: 15px;
  color: black;
  width: 100%;
  height: 38px;
  border-radius: 4.8px;
  border-color: #002973;
  box-shadow: 1px 3px #7b7b7b;
  background-color: #f7f7f7;
}

.form-control:focus {
  box-shadow: none;
  border-color: #002973;
}

.btnEntrar {
  background-color: #ffb703;
  height: 48px;
  padding: 9px, 17px, 9px, 17px;
  width: 100%;
  border: #ffb703;
  margin-top: 20px;
  transition: ease-in-out 0.1s;
  border-radius: 3.2px;
}

hr {
  width: 100%;
  border: 1px solid #7b7b7b;
}

.legenda1 {
  margin-top: 27px;
  text-align: center;
}

.botoes {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.btnEntrar1 {
  background-color: #f7f7f7;
  color: #002973;
  border: 2px solid #002973;
  justify-content: center;
  width: 47%;
  height: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-family: ubuntu;
  border-radius: 3.2px;
  display: flex;
  padding: 5px, 9px, 5px, 9px;
  align-items: center;
  gap: 2.2px;
  transition: ease-in-out 0.1s;
}

.btnEntrar2 {
  background-color: #f7f7f7;
  color: #ff0000;
  border: 2px solid #ff0000;
  justify-content: center;
  width: 47%;
  height: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-family: ubuntu;
  border-radius: 3.2px;
  padding: 5px, 9px, 5px, 9px;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 4px;
  transition: ease-in-out 0.1s;
}

.linhavertical {
  width: 3px;
  color: #7b7b7b;
  background-color: #7b7b7b;
  height: 415px;
}

.form-control::-webkit-input-placeholder {
  font-size: 20px;
  font-family: ubuntu;
}

.wrap-input1 {
  margin-top: 20px;
}

.alinhamento {
  margin-top: 12px;
}

.btnEntrar3 {
  background-color: #f7f7f7;
  color: #df9f00;
  border: 2px solid #df9f00;
  justify-content: center;
  width: 100%;
  height: 48px;
  line-height: 18px;
  font-weight: 400;
  font-family: ubuntu;
  border-radius: 3.2px;
  padding: 5px, 9px, 5px, 9px;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 4px;
  margin-left: 1px;
  margin-top: 40px;
  border-radius: 4.8px;
  transition: ease-in-out 0.1s;
}

.btnEntrar1:hover {
  color: white;
  background-color: #002973;
}

.btnEntrar2:hover {
  color: white;
  background-color: #ff0000;
}

.btnEntrar3:hover {
  color: white;
  background-color: #df9f00;
}

.btnEntrar:hover {
  color: #df9f00;
  border: 2px solid #df9f00;
  background-color: #f7f7f7;
}

@media (max-width: 570px) {
    .container
    {
        margin-left: -520px;
        float:none;
    }

    .linhavertical {
        display: none;
    }

    .container2
    {
        margin-top: 100px;
        margin-left: -500px;
    }
}

