.containerGames {
  width: 941px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start; 
  flex-wrap: wrap;
}

.containerGames div{
    margin: 0.5%;
}

.containerGames div:nth-child(4n){
  margin-right: 0px;
}



.containerGames div:nth-child(4n+1) {
  margin-left: 0px;
}

@media (min-width: 412px) and (max-width: 768px) {
  .containerGames {
    width: 441px;
    margin-left: 100px;
    margin-top: -20px;
  }
}