footer
{
    box-sizing: border-box;
    background-color: #002973;
    width: 100%;
    height: auto;
    margin-top: 125px;
    display: flex;
    justify-content: center;
    padding: 80px 191px;
    flex-direction: row;
}

.logofooter
{
    width: 115px;
    height: 80px;
}

footer p, h4{
    color: #fff;
}

.RedesSociais
{
    display: flex;
}

.icon
{   
    width: 40px;
    height: 29.58px;
    display: flex;  
    align-items: center;
}


.ContainerFoo{
    width: 941px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.ContainerFoo--AtendimentoEhRedes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

@media (min-width: 412px) and (max-width: 768px) {
    .ContainerFoo
    {
        height: 700px;
    }
    .logofooter
    {
        margin-top: -40px;
        margin-left: -100px;
    }
    
    .redes
    {
        margin-top: -10px;
        margin-left: -60px;
    }

    .Atendimento
    {
        margin-top: -210px;
        margin-left: -60px;
    }

    .Contato
    {
        margin-top: -220px;
        margin-left: -60px;
    }

    .tituloss{
        font-size: 16px;
    }

    .corpo{
        font-size: 12px;
    }
   
    .logofooter
    {
        width: 105px;
        height: 70px;
    }
}